<!-- IN HERE, USE A MODAL FOR ADDING NEW GOALS POP UP, THAT SHOULD EXIST ON EVERY PAGE-->


<!-- ARE YOU SURE WE SHOULD USE MODAL OR A WHOLE DIFFERENT PAGE? -->
{% extends 'base.html' %}


{% block user %}
    {{user}}
{% endblock %}


{% block content %}

<div class="container-fluid-lg mx-auto w-50">
    <h2 class="my-2 text-left"> Your Goals </h2>
    {% for goal in goals %}
    <div class="card mb-3">
        <div class="card-body">
            <h4 class="card-title"> {{goal['goal']}} </h4>
            <h6 data-start-time="{{goal['start_time']}}" class="card-subtitle ms-auto text-muted"> countdown </h6>
            <p class="card-text mb-1"> {{goal['description']}} </p>
            <a href="#" class="btn btn-primary me-1"> Edit Goal </a>
            <a href="/goals/{{goal['username']}}/{{goal['id']}}" class="btn btn-primary"> View Logs </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}