{% extends "base.html" %}


{% block title %}
    Home
{% endblock %}


{% block user %}
    {{user}}
{% endblock %}



{% block content %}

<div class="container-fluid-lg mx-auto w-50">
    <h2 class="text-left mb-1"> Welcome, {{user}} </h2>
    <p> Let's conquer procrastination today! </p>
    <h3 class="text-left mb-2"> Current Goals </h3>
    {% for goal in goals %}
    <div class="card mb-3">
        <div class="card-body">
            <h4 class="card-title"> {{goal['goal']}} </h4>
            <h6 data-start-time="{{goal['start_time']}}" class="card-subtitle ms-auto text-muted"> countdown </h6>
            <p class="card-text"> {{goal['description']}} </p>
        </div>
    </div>
    
    {% endfor %}

    {% if goals %}
    <a href="/goals/{{user}}" class="d-flex justify-content-end text-right pb-2"> View more </a>
    {% else %}
    <h5> You do not have any goals :( </h5>
    <p> (Navigate to 'Goals' on the navigation bar to add goals) </p>
    {% endif %}

    <h3> Daily Motivation </h3>
    <p> You've got this. </p>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
    document.addEventListener('DOMContentLoaded', countdownTimer);
</script>
{% endblock %}