{% extends "base.html" %}


{% block title %}
    Logs Page
{% endblock %}


{% block user %}
    {{user}}
{% endblock %}


{% block content %}
<div class="container-fluid-lg mx-auto w-50">
    <h2 class="text-left mb-1"> {{goal_info['goal']}} </h2>
    <p class="text-mute mb-2"> {{goal_info['description']}} </p>
    {% if logs %}
        {% for log in logs %}
        <!-- So, for each log, use a modal to show all the text, cuz logs could be long. 
            Truncate the text at maybe... 160 ? If there's more add a modal on, if not, don't. 
            Also, using cards would be nice, I think. -->
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title"> {{log['log']}} </h4>
                <h6 data-log-date="{{log['created_at']}}" data-log-id="{{log['id']}}" 
                class="card-subtitle ms-auto text-muted"> Created at: </h6>
                <p class="card-text mb-1" data-shortened="{{ log['description'] | truncate(160) }}" 
                data-long="{{ log['description'] }}">{{log['description'] | truncate(160)}}</p>

                {% if log['description'] != log['description'] | truncate(160) %}
                <span class="card-text mb-1" style="color: blue;" onclick="truncateLog(this)"> Show more </span>
                {% endif %}
            </div>
            <div class="card-footer">
                <!-- CREATE A NEW ROUTE FOR EDITING. CALL THE ROUTE FOR DELETING. -->
                <button class="btn btn-primary btn-sm me-1" action=""> Edit Log </button>
                <button class="btn btn-danger btn-sm" action=""> Delete Log </button>
            </div>
                
                
                
        </div>
        {% endfor %}
        
    {% else %}
        <h5 class="mt-5 text-left"><i>You do not have any logs for this goal :( </i> </h5>
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script src="../../static/index.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', setLogDate);
</script>
{% endblock %}
