{% extends "base.html" %}


{% block title %}
    Logs Page
{% endblock %}


{% block user %}
    {{user}}
{% endblock %}


{% block content %}
<div class="container-fluid-lg mx-auto w-50">
    <h2 class="text-left mb-1"> {{goal_info['goal']}} </h2>
    <p class="text-mute mb-2"> {{goal_info['description']}} </p>
    {% if logs %}
        {% for log in logs %}
        <!-- So, for each log, use a modal to show all the text, cuz logs could be long. 
            Truncate the text at maybe... 160 ? If there's more add a modal on, if not, don't. 
            Also, using cards would be nice, I think. -->
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title"> {{log['log']}} </h4>
                <h6 data-log-date="{{log['created_at']}}" class="card-subtitle ms-auto text-muted"> Created at: </h6>
                <p class="card-text mb-1"> {{log['description'] | truncate(160)}} </p>
                <a href="#" class="btn btn-primary me-1"> Edit Log </a>
                <a href="#" class="btn btn-danger"> Delete Log </a>
            </div>
        </div>
        {% endfor %}
        
    {% else %}
        <h5 class="mt-5 text-left"><i>You do not have any logs for this goal :( </i> </h5>
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script src="../../static/index.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', setLogDate);
</script>
{% endblock %}
